
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background: green;
    font-family: 'Poppins', sans-serif;
}

.listheading {
    font-style: italic;
}
